.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.button_wrapper {
  display: flex;
  justify-content: space-between;
}

.default {
  padding: 0.25rem;
  vertical-align: middle;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.default svg {
  font-size: 19px;
  margin-right: 0.3rem;
}

.default:hover {
  scale: 1.15;
}

.liked {
  color: blue;
}

.disliked {
  color: red;
}

.like_dislike_bttn {
  display: flex;
  grid-gap: 2rem;
}

.delete_bttn_con button {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0 0.6rem;
  border-radius: 20px;
  border: 1px solid #1c475a;
  background-color: #1c475a;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  height: 40px;
}

.delete_bttn_con button:hover {
  background-color: #13aff0;
  border-color: #13aff0;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: gray;
  font-size: 14px;
  letter-spacing: 0.5px;
}
